
 /* Variables
 ------------------------------------------- */

:root {
    --maincolor: rgba(128, 0, 128, 1);
    --barcolor: #ecd9ec;
    --bgcolor: #f8f8f8;
    --fontsize-std: 32px;
    --fontsize-small: 16px;
    --fontfam-std: sans-serif;
    --maxwidth-std: 940px;
}   

 /* Global styles
 -------------------------------------------- */

body {
    margin: 0px;
    background-color: var(--bgcolor);
    font-size: var(--fontsize-std);
    font-family:var(--fontfam-std);
}


/* Header
-------------------------------------------- */

 /* header - Navbar
 -------------------------------------------- */

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
}

.navgrid {
    margin: 0px auto;
    display: grid;
    max-width: var(--maxwidth-std);
    grid-template-columns: 2fr 4fr 2fr;
    grid-auto-rows: 50px;
    align-items: center;
    grid-template-areas: 
        "logo   shopmenu    hamburger"
    ;
    background-color: var(--maincolor);
    border-radius: 10px;
}

.navbar-logo {
    grid-area: logo;
    justify-self: flex-start;
    padding: 0px 10px;
    height: 50px;
}

.navbar-logo object{
    border-radius: 10px;
}

.navbar-shopmenu {
    grid-area: shopmenu;
    justify-self: center;
    height: 50px;
    width: 100%;
}

.navbar-shopchoice {
    height: 35px;
    width: 100%;
    margin: 7.5px auto;
    background-color: var(--barcolor);
    color: var(--maincolor);
    border-radius: 10px;
    font-family:var(--fontfam-std);
    font-size: var(--fontsize-small);
}

.navbar-shopchoice:focus {
    outline: none;
}

.navbar-shopchoice:hover {
    cursor: pointer;
}

.navbar-shopchoice option {
    padding-bottom: 0;
    font-size: var(--fontsize-std);
}

.navbar-menu {
    grid-area: hamburger;
    height: 50px;
    justify-self: flex-end;
    border-radius: 10px;
    padding: 0px 10px;
}

.navbar-menu:active {
    background-color: var(--barcolor);
}


 /* Main
 -------------------------------------------- */

 main {
     margin-top: 50;
 }

.add-container {
    display: flex;
    margin-top: 50px;
    width: 100%;
    background-color: var(--bgcolor);
}

.add-form {
    margin: 5px auto;
    max-width: var(--maxwidth-std);
}

.groceryinput-div {
    height: 30px;
    margin-bottom: 5px;
    align-content: stretch;
}

.grocery-name {
    height: 100%;
    width: 30%;
    padding: 0;
    border-width: 0.5px;
}

.grocery-amount {
    height: 100%;
    width: 10%;
    padding: 0;
    border-width: 0.5px;
    text-align: center;
}

.groceryinput-div select {
    height: 100%;
    width: 30%;

}

.add-button {
    background-color: var(--maincolor);
    color: white;
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 20%;
}

/* Shoplist
---------------------------*/


 .main-shoplist {
    /* margin-top: 100px; */
    width: 100%;
 }

.shoplist-table {
    margin: 0px auto;
}

.check-icon {
    color: var(--maincolor);
}

.check-icon object {
    vertical-align: -10%;
}

.shoplist-table object {
    padding: 5px;
    border-radius: 10px;
}

.shoplist-table object:hover {
    background-color: var(--barcolor);
}

.main-shoppedlist {
    width: 100%;
    margin-bottom: 50px;
}

.main-shoppedlist h6 {
    margin: 5px auto;
    text-align: center;
}

.shoppedlist-table {
    margin: 0px auto;
}
.shoppedlist-table object {
    padding: 5px;
    border-radius: 10px;
}


 /* Footer
 -------------------------------------------- */

 footer {
     position: sticky;
     bottom: 0px;
     margin: 0px auto;
 }

 .footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

 .footer-grid {
    margin: 0px auto;
    max-width: var(--maxwidth-std);
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-auto-rows: 50px;
    align-items: center;
    grid-template-areas: 
        "left   middle  right"
    ;
    background-color: var(--barcolor);
    border-radius: 10px;
 }


 .footer-left {
    grid-area: left;
    justify-self: start;
 }

 .footer-middle {
    grid-area: middle;
    width: 100%;
    height: 100%;
 }

 .totop-button {
    display: none;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 5px auto;
    background-color: var(--maincolor);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: var(--fontsize-std);
}

.totop-button:active {
    background-color: var(--barcolor);
}

 .footer-right {
    grid-area: right;
    justify-self: end;
 }