
 /* Variables
 ------------------------------------------- */

:root {
    --maincolor: rgba(128, 0, 128, 1);
    --barcolor: #ecd9ec;
    --bgcolor: #f8f8f8;
    --fontsize-std: 24px;
    --fontsize-mdm: 18px;
    --fontsize-small: 16px;
    --fontfam-std: sans-serif;
    --maxwidth-std: 640px;
}   

 /* Global styles
 -------------------------------------------- */

body {
    margin: 0px;
    background-color: var(--bgcolor);
    font-size: var(--fontsize-std);
    font-family:var(--fontfam-std);
}

.addbtn {
    margin-right: 0px;
    height: 35px;
    width: 35px;
    padding: 0px;
    background-color: var(--maincolor);
    color: var(--bgcolor);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: var(--fontsize-mdm);
    text-align: center;
    vertical-align: middle;
}


/* Header
-------------------------------------------- */

 /* header - Navbar
 -------------------------------------------- */

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
}

.navgrid {
    margin: 0px auto;
    display: grid;
    max-width: var(--maxwidth-std);
    grid-template-columns: 2fr 4fr 2fr;
    grid-auto-rows: 50px;
    align-items: center;
    grid-template-areas: 
        "logo   shopmenu    hamburger"
    ;
    background-color: var(--maincolor);
    border-radius: 10px;
}

.navbar-logo {
    grid-area: logo;
    justify-self: flex-start;
    padding: 0px 10px;
    height: 50px;
}

.navbar-logo object{
    border-radius: 10px;
}

.navbar-shopmenu {
    grid-area: shopmenu;
    justify-self: center;
    height: 50px;
    width: 100%;
}

.navbar-shopchoice {
    height: 35px;
    width: 100%;
    margin: 7.5px auto;
    background-color: var(--barcolor);
    color: var(--maincolor);
    border-radius: 10px;
    font-family:var(--fontfam-std);
    font-size: var(--fontsize-small);
}

.navbar-shopchoice:focus {
    outline: none;
}

.navbar-shopchoice:hover {
    cursor: pointer;
}

.navbar-shopchoice option {
    padding-bottom: 0;
    font-size: var(--fontsize-std);
}

.navbar-menu {
    grid-area: hamburger;
    height: 50px;
    /* justify-self: flex-end; */
    border-radius: 10px;
    padding: 0px 10px;
    cursor: pointer;
    text-align: end;
}

.navbar-menu:active {
    background-color: var(--barcolor);
}

.dropdown-menu {
    display: none;
    margin-top: -5px;
    margin-right: -10px;
    background-color: var(--barcolor);
    border-radius: 10px;
    text-align: end;
}

.dropdown-menu span {
    font-size: var(--fontsize-mdm);
    text-align: end;
    padding: 5px;
}

.show-menu {
    display: block;
}


 /* Main
 -------------------------------------------- */

.main-container {
    width: 100%;
    margin-top: 55px;
}

.main-top {
    width: 100%;
}

.main-topgrid {
    display: grid;
    margin: 0px auto;
    max-width: var(--maxwidth-std);
    grid-template-columns: 40% 10% 37% 10%;
    grid-auto-rows: 35px;
    gap: 1%;
}

.shopitem-name {
    margin-left: 0px;
    border: none;
    border: solid 1px;
    border-radius: 10px;
}

.shopitem-amount {
    border: none;
    border: solid 1px;
    border-radius: 10px;
}

.shopitem-group {
    border: none;
    border: solid 1px;
    border-radius: 10px;
}

.main-shoplisttable {
    margin: 0px auto;
    margin-bottom: 50px;
    max-width: var(--maxwidth-std);
}

.main-shoplisttable td {
    padding: 2px 5px;
}


/* Shoplist
---------------------------*/


 .main-shoplist {
    width: 100%;
 }

 .main-shoplisttable {
    margin: 0px auto;
    margin-bottom: 50px;
    max-width: var(--maxwidth-std);
}

.main-shoplisttable td {
    padding: 2px 5px;
}

.shoplist-table {
    margin: 0px auto;
}

.cartbtn:hover {
    cursor: pointer;
}

.amountcol {
    text-align: end;
}

.delbtn:hover {
    cursor: pointer;
}

.check-icon {
    color: var(--maincolor);
}

.check-icon object {
    vertical-align: -10%;
}

.shoplist-table object {
    padding: 5px;
    border-radius: 10px;
}

.shoplist-table object:hover {
    background-color: var(--barcolor);
}

.shop-item-name {
    text-align: center;
}

.main-shoppedlist {
    width: 100%;
    margin-bottom: 50px;
}

.main-shoppedlist h6 {
    margin: 5px auto;
    text-align: center;
}

.shoppedlist-table {
    margin: 0px auto;
}
.shoppedlist-table object {
    padding: 5px;
    border-radius: 10px;
}

.cartdiv {
    margin-top: 10px;
}


 /* Footer
 -------------------------------------------- */

 footer {
     position: sticky;
     bottom: 0px;
     margin: 0px auto;
 }

 .footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

 .footer-grid {
    margin: 0px auto;
    max-width: var(--maxwidth-std);
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-auto-rows: 50px;
    align-items: center;
    grid-template-areas: 
        "left   middle  right"
    ;
    background-color: var(--barcolor);
    border-radius: 10px;
 }


 .footer-left {
    grid-area: left;
    justify-self: start;
    margin-left: 10px;
 }

 .footer-middle {
    grid-area: middle;
    width: 100%;
    height: 100%;
 }

 .totop-button {
    display: none;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 5px auto;
    background-color: var(--maincolor);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: var(--fontsize-std);
}

.totop-button:active {
    background-color: var(--barcolor);
}

 .footer-right {
    grid-area: right;
    justify-self: end;
 }


 /* categories
---------------------------*/

.categories-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.categories-list-div {
    display: flex;
    margin: auto;
    margin-top: 53px;
    max-width: var(--maxwidth-std);
    min-height: 300px;
    border-radius: 10px;
    background-color:var(--barcolor);
    justify-content: center;
    align-items: start;
}

.categories-list-div button {
    margin: 5px;
}

.category-input {
    margin: 5px;
    height: 31px;
    border: none;
    border: solid 1px;
    border-radius: 10px;
}